/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');



/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Font Styles */
body {
    font-family: 'Cinzel', serif;
    background: linear-gradient(to right, #903f5e, #3b4e5a)
}


/* 5C164E */
/* 63D471 */
/* A04668 */
/* 1B4079 */
/* #253a48 */


/* button -#36a3cc */

/* 
taijul bhai color

1.#3a2b46  #42314e
2.#bf3959  #d74064
3.#5f6075  #c5c6db
4.#5d7769  #3c5346
5.#d44956  #a53943
6.#462346  #310a31 #5a3b5a
7.#0b4f6c  #093f56  #23617b  #0b4f6c

*/

/* 
background: linear-gradient(to right, #903f5e, #3b4e5a)
*/